<%= breadcrumb_helper([["Projects", projects_path], [@project.title, project_path(@project)], ["Items", project_items_path(@project)], ["New", nil]]) %>
<legend>
  <h1>New Item</h1>
</legend>
<%= render :partial => "form" %>
